@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

body {
    font-family: Arial, sans-serif;
    background-color: #066;
    margin: 0;
    padding: 20px;
    animation: fadeIn 1s ease-out;
}

.header {
    color: white;
    text-align: left;
    margin-bottom: 30px;
    animation: slideIn 1s ease-out;
}

h1 {
    color: white;
    font-size: 3em;
}

.creator {
    color: #666;
    font-style: italic;
    margin-top: 0;
}

.wallboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 100%;
    margin: 0 auto;
}

.metric {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    animation: slideIn 1s ease-out;
}

.metric:hover {
    transform: translateY(-5px);
}

.metric h2 {
    margin-top: 0;
    color: #333;
}

.metric p {
    font-size: 36px;
    font-weight: bold;
    margin: 10px 0;
    color: #007bff;
}

.metric--highlight {
    background-color: #b32384;
    color: white;
}

.metric--highlight h2 {
    margin-top: 0;
    color: white;
}

.metric--highlight p {
    font-size: 72px;
    font-weight: bold;
    margin: 10px 0;
    color: white;
    font-weight: bold;
}

.agent-statuses {
    grid-column: 1 / -1;
}

.agent-statuses ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.agent-statuses li {
    background-color: #007bff;
    color: #ffffff;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
    animation: pulse 2s infinite;
}

.agent-count {
    font-weight: bold;
    margin-right: 5px;
}

#countdown {
    text-align: center;
    font-size: 14px;
    color: #666;
    margin-top: 20px;
    animation: fadeIn 1s ease-out;
}

.custom-info {
    grid-column: 1 / -1;
    background-color: teal;
    color: white;
    padding: 30px;
    border-radius: 5px;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}